@page "/"

<Watch />

<a href="api/PPather/MapRoute?map1=1446&x1=51.0&y1=29.3&map2=1446&x2=38.7&y2=20.1" target="_blank">Tanaris FP to ZF (API Using Map Coords)</a>
<br />
<a href="api/PPather/MapRoute?map1=1451&x1=51.4&y1=37.8&map2=1451&x2=29&y2=92" target="_blank">Silithus Inn to AQ (API Using Map Coords)</a>
<br />
<a href="api/PPather/WorldRoute?x1=-896&y1=-3770&z1=11&x2=-441&y2=-2596&z2=96&continent=Kalimdor" target="_blank">Search Barrens (API using world Coords)</a>

