@page "/"
@namespace BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorServer</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <style>
        #tooltip {
            background: cornsilk;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
        }
    </style>

    <script src="_framework/blazor.server.js"></script>
    <script>
        function draw() {

            function gridData() {
                var data = new Array();
                var xpos = 1; var ypos = 1; var width = 20; var height = 20;

                for (var row = 0; row < 30; row++) {
                    data.push(new Array());

                    for (var column = 0; column < 30; column++) {
                        data[row].push({ x: xpos, y: ypos, width: width, height: height })
                        xpos += width;
                    }
                    xpos = 1;
                    ypos += height;
                }
                return data;
            }

            var gridData = gridData();

            var grid = d3.select("#grid").select("svg").select(".background");

            var row = grid.selectAll(".row")
                .data(gridData)
                .enter()
                .append("g")
                .attr("class", "row");

            var column = row.selectAll(".square")
                .data(function (d) { return d; })
                .enter().append("rect")
                .attr("class", "square")
                .attr("x", function (d) { return d.x; })
                .attr("y", function (d) { return d.y; })
                .attr("width", function (d) { return d.width; })
                .attr("height", function (d) { return d.height; })
                .style("fill", "#fff")
                .style("stroke-width", "0.5px")
                .style("stroke", "#bbb");
        }

        function showTooltip(evt, text) {
            let tooltip = document.getElementById("tooltip");
            tooltip.innerHTML = text;
            tooltip.style.display = "block";

            if (evt.clientX) {
                tooltip.style.left = evt.clientX + 10 + 'px';
                tooltip.style.top = evt.clientY + 10 + 'px';
            }
            else {
                tooltip.style.left = evt.pageX + 10 + 'px';
                tooltip.style.top = evt.pageY + 10 + 'px';
            }
        }

        function hideTooltip() {
            var tooltip = document.getElementById("tooltip");
            tooltip.style.display = "none";
        }
    </script>
</body>
</html>