@inject Libs.IAddonReader addonReader
@inject Libs.IBotController botController
@inject IJSRuntime JSRuntime
@using Libs.Addon
@using Libs
@using Microsoft.AspNetCore.Html


<div class="card">
    <div class="card-header">
        Bag Changes
        <div class="float-right">
            <Money Value="ahmoney" />
        </div>
    </div>
    <div class="card-body">
        @foreach (var bagItem in NewItems)
        {
            <div class="animate__animated animate__backInUp">
                <BagItemComponent Item="bagItem" ShowChangesPrice="true" />
                <hr style="margin:2px" />
            </div>
        }
    </div>
</div>
@code {

    List<Libs.BagItem> NewItems = new List<Libs.BagItem>();

    int[] money = new int[0];
    int[] ahmoney = new int[0];

    MarkupString resultString = (MarkupString)"";

    protected override void OnInitialized()
    {
        addonReader.BagReader.DataChanged += (o, e) =>
        {
            this.NewItems = addonReader.BagReader.BagItems.Where(i => i.WasRecentlyUpdated).ToList();
            money = Item.ToSellPrice(this.NewItems.Sum(ItemValue));
            ahmoney = Item.ToSellPrice(this.NewItems.Sum(ItemAHValue));

            base.InvokeAsync(() => { try { StateHasChanged(); } catch { } });
        };
    }

    protected int ItemValue(BagItem item)
    {
        if (item.LastChange == 0)
        {
            return item.Item.SellPrice;
        }
        return item.LastChange * item.Item.SellPrice;
    }

    protected int ItemAHValue(BagItem item)
    {
        var price = item.Item.AHPrice;
        if (item.IsSoulbound) { price = item.Item.SellPrice; }

        if (item.LastChange == 0)
        {
            return price;
        }
        return item.LastChange * price;
    }
}