@if (Item != null)
{
    <a href="https://classic.wowhead.com/item=@Item.ItemId" target="_blank" data-wowhead="item=@Item.ItemId" class="small" style="text-decoration:none">
        <b>
            <span style="color:@BagItemColour(Item.Item)">
                @if (Item.Count > 1)
                {@Item.Count<span>&nbsp;</span>}
                @Item.Item.Name
                @if (Item.IsSoulbound)
                {
                    <span>(S)</span>
                }
                @if (Item.Item.SellPrice > 0)
                {
                    <Money Value="GetItemPrice(Item)" />
                }
            </span>
            @if (Item.WasRecentlyUpdated)
            {
                <span class="badge badge-info"> @Item.LastChangeDescription </span>
            }
        </b>
    </a>
}
@code {

    [Parameter]
    public Core.BagItem? Item { get; set; }

    [Parameter]
    public bool ShowChangesPrice { get; set; } = false;

    List<string> itemColour = new List<string> { "grey", "black", "green", "blue", "purple", "yellow", "yellow", "yellow" };

    protected string BagItemColour(Core.Addon.Item item)
    {
        if (item.Quality < 0 || item.Quality > 7) { return "black"; }
        return itemColour[item.Quality];
    }

    List<string> itemBadge = new List<string> { "badge-secondary", "badge-dark", "badge-success", "badge-primary", "badge-warning", "badge-warning", "badge-warning", "badge-warning" };

    protected string BagItemBadge(Core.Addon.Item item)
    {
        if (item.Quality < 0 || item.Quality > 7) { return "badge-dark"; }
        return itemBadge[item.Quality];
    }
    protected int[] GetItemPrice(Core.BagItem item)
    {
        var price = item.Item.AHPrice;
        if (item.IsSoulbound) { price = item.Item.SellPrice; }

        var value = item.Count * price;
        if (ShowChangesPrice)
        {
            value = (item.LastChange == 0 ? item.Count : item.LastChange) * price;
        }

        return Core.Addon.Item.ToSellPrice(value);
    }
}