@page "/counter"

<h1>Counter</h1>

<p>X Coord: @BlazorServer.Data.AddonViewer.PlayerReader.XCoord</p>
<p>Y Coord: @BlazorServer.Data.AddonViewer.PlayerReader.YCoord</p>

<button class="btn btn-primary" @onclick="Start">Start</button>

@code {

    private void Start()
    {
        BlazorServer.Data.AddonViewer.AddonDataChanged += (o, e) =>
        {
            base.InvokeAsync(() => StateHasChanged());
        };
    }
}
