@page "/Gather"
@inject Core.IBotController botController
@inject IJSRuntime JSRuntime;

@if (botController.ClassConfig?.Mode != Core.Mode.AttendedGather)
{
    <h3>Attended gather mode is not enabled in the class config file.</h3>
    <p>
        When this mode is active and the Gather tab in the UI is selected, it will run the path and scan the minimap for the yellow nodes which indicate a herb or mining node. When it finds a node it will stop and alert you by playing a youtube video, you will then have to manually pick the herb/mine and then start the bot again.
    </p>
}
else
{

<table>
    <tr>
        <td><MiniMapComponent Size="400" OnNodeFound="NodeFoundHandler" /></td>
        <td><RouteComponent Size="400" /></td>
    </tr>
</table>

<div id="video-placeholder"></div>
}

@code {

    protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<string>("onYouTubeIframeAPIReady2");
        }
    }

    protected async void NodeFoundHandler(bool nodeFound)
    {
        await base.InvokeAsync(() =>
        {
            if (nodeFound)
            {
                JSRuntime.InvokeAsync<string>("play");
                botController.StopBot();
            }
            else
            {
                JSRuntime.InvokeAsync<string>("pause");
            }
        });
    }

    private async void Play()
    {
        await JSRuntime.InvokeAsync<string>("play");
    }
    private async void Pause()
    {
        await JSRuntime.InvokeAsync<string>("pause");
    }
}