@page "/"

@inject Libs.AddonReader addonReader
@inject Libs.BotController botController
@inject IJSRuntime JSRuntime;

<h3>
    Wowbot - Main

    <button class="btn btn-primary float-right" @onclick="ToggleBot">
        @if (!botController.IsBotActive)
        {
            <span>Start Bot</span>
        }
        else
        {
            <span>Stop Bot</span>
        }
    </button>
</h3>

<BotHeader />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <ScreenshotComponent Size="600" />
            <RouteComponent Size="300" />
        </div>
        <div class="col-sm">
            <table class="table table-sm table-striped">
                @foreach (var action in botController.GoapAgent.AvailableActions)
                {
                    <GoapActionView action="action" IsSelected="(action == botController.GoapAgent.CurrentAction)" ShowKeys="true" />
                }
            </table>
        </div>
    </div>
</div>
<table>
    <tr>
        <td width="100%">
        </td>
        <td>
        </td>
    </tr>
</table>

<div id="tooltip" display="none" style="position: absolute; display: none;"></div>

@code {

    protected override void OnInitialized()
    {
        addonReader.AddonDataChanged += (o, e) =>
        {
            base.InvokeAsync(() =>
            {
                try
                {
                    StateHasChanged();
                }
                catch { }
            });
        };
    }

    private void ToggleBot()
    {
        botController.ToggleBotStatus();
    }
}

