@page "/"

@inject Libs.IAddonReader addonReader
@inject Libs.IBotController botController
@inject IJSRuntime JSRuntime;

<div class="container-fluid">
    <div class="row">

        @if (Libs.DataFrameConfiguration.ConfigurationExists())
        {

            <div class="col-sm">
                <ScreenshotComponent Size="800" />
                <table width="100%">
                    <tr>
                        <td valign="top"><div style="margin-top: 10px"><RouteComponent Size="400" /></div></td>
                        <td valign="top"> <div style="margin-left: 10px; margin-top: 10px"><BagChanges /></div></td>
                    </tr>
                </table>
            </div>

            <div class="col-sm" style="margin-left:10px">
                <BotHeader ShowActiveGoal="false" Hide="@(botController.IsBotActive)" />

                <ProfileSelectorComponent Hide="@(botController.IsBotActive)" />
                <PathSelectorComponent Hide="@(botController.IsBotActive)" />
                <GoalsComponent />
            </div>
        }
        else
        {
            <Configuration />
        }
    </div>
</div>

<div id="tooltip" display="none" style="position: absolute; display: none;"></div>


@code {

    protected override void OnInitialized()
    {
        if (Libs.DataFrameConfiguration.ConfigurationExists())
        {

            ((Libs.AddonReader)addonReader).AddonDataChanged += (o, e) =>
            {
                base.InvokeAsync(() =>
                {
                    try
                    {
                        StateHasChanged();
                    }
                    catch { }
                });
            };
        }
    }
}