@using Libs
@inject Libs.IBotController botController
@inject Libs.IAddonReader addonReader

<div class="card" style="margin-top: 10px">
    <div class="card-header">
        <button class="btn btn-sm btn-primary" @onclick="RefreshData">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>

        Path Profile

        <select name="listbox" id="listbox" @onchange="OnListBoxChanged" runat="server">
            @foreach (var item in files)
            {
                <option value="@item">
                    @item
                </option>
            }
        </select>

        <button class="btn btn-sm btn-primary float-right" @onclick="LoadPath" disabled="@(disableButton ? "disabled" : null)">
            <span>Load Path</span>
        </button>
    </div>
</div>

@code {

    List<string> files = new List<string> { string.Empty };

    string selectedPath = String.Empty;
    bool disableButton = true;

    protected override void OnInitialized()
    {
        if (Libs.DataFrameConfiguration.ConfigurationExists())
        {
            RefreshData();

            ValidateButton();

            botController.ProfileLoaded -= OnProfileLoaded;
            botController.ProfileLoaded += OnProfileLoaded;

            ((Libs.AddonReader)addonReader).AddonDataChanged += (o, e) =>
            {
                base.InvokeAsync(() =>
                {
                    try
                    {
                        StateHasChanged();
                    }
                    catch { }
                });
            };
        }
    }

    private void LoadPath()
    {
        //if(!string.IsNullOrEmpty(selectedPath))
        botController.LoadPathProfile(selectedPath);
    }

    private void OnListBoxChanged(ChangeEventArgs changeEventArgs)
    {
        selectedPath = (string)changeEventArgs.Value;
        if(selectedPath.Contains("Use Class Profile Default"))
        {
            selectedPath = string.Empty;
        }

        ValidateButton();
    }

    private void OnProfileLoaded(object? sender, EventArgs e)
    {
        ValidateButton();
    }

    private void ValidateButton()
    {
        disableButton = string.IsNullOrEmpty(botController.SelectedClassProfile);
    }

    private void RefreshData()
    {
        files = botController.PathFileList();
    }

}