@page "/Swag"

@inject Core.IAddonReader addonReader
@inject Core.IBotController botController
@inject IJSRuntime JSRuntime;
@using Core.Addon
@using Microsoft.AspNetCore.Html

<BotHeader />

<div class="card">
    <div class="card-header">
        Bag Contents
        <div class="float-right">
            <Money Value="ahMoney" />
            (<Money Value="vendMoney" />)
        </div>
    </div>
    <div class="card-body" style="padding-bottom: 0">

        <table class="table table-sm table-striped table-no-border">
            <thead class="thead-light">
                <tr>
                    <th>Bag 1</th>
                    <th>Bag 2</th>
                    <th>Bag 3</th>
                    <th>Bag 4</th>
                    <th>Bag 5</th>
                </tr>
            </thead>
            @for (int bagIndex = 0; bagIndex < 20; bagIndex++)
            {
                <tr>
                    @for (int bag = 0; bag < 5; bag++)
                    {
                        <td width="20%">
                            @{ var bagItem = addonReader.BagReader.BagItems.Where(i => i.Bag == bag).Where(i => i.BagIndex == bagIndex).FirstOrDefault();}
                            @if (bagItem != null)
                            {
                                <BagItemComponent Item="bagItem" />
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<div id="tooltip" display="none" style="position: absolute; display: none;"></div>

@code {

    int[] vendMoney = new int[0];
    int[] ahMoney = new int[0];

    protected override void OnInitialized()
    {
        addonReader.BagReader.DataChanged += (o, e) =>
        {
            vendMoney = Item.ToSellPrice(addonReader.BagReader.BagItems.Sum(s => s.Item.SellPrice * s.Count));

        // ignore if sellprice is 0... bit of a hack, need to check if soulbound
        ahMoney = Item.ToSellPrice(addonReader.BagReader.BagItems.Sum(s => (s.IsSoulbound ? s.Item.SellPrice : s.Item.AHPrice) * s.Count));

            base.InvokeAsync(() => { try { StateHasChanged(); } catch { } });
        };
    }
}