@page "/Swag"

@inject Core.IAddonReader addonReader
@inject Core.IBotController botController
@inject IJSRuntime JSRuntime;
@using SharedLib 

<BotHeader />

<div class="card">
    <div class="card-header">
        Bag Contents
    </div>
    <div class="card-body" style="padding-bottom: 0">

        <table class="table table-sm table-striped table-no-border">
            <thead class="thead-light">
                <tr>
                    <th>Bag 1</th>
                    <th>Bag 2</th>
                    <th>Bag 3</th>
                    <th>Bag 4</th>
                    <th>Bag 5</th>
                </tr>
            </thead>
            @for (int bagIndex = 0; bagIndex < 20; bagIndex++)
            {
                <tr>
                    @for (int bag = 0; bag < 5; bag++)
                    {
                        <td width="20%">
                            @{ var bagItem = addonReader.BagReader.BagItems.Where(i => i.Bag == bag).Where(i => i.BagIndex == bagIndex).FirstOrDefault();}
                            @if (bagItem != null)
                            {
                                <BagItemComponent BagItem="bagItem" />
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<div id="tooltip" display="none" style="position: absolute; display: none;"></div>

@code {
    protected override void OnInitialized()
    {
        addonReader.BagReader.DataChanged += (o, e) =>
        {
            base.InvokeAsync(() => { try { StateHasChanged(); } catch { } });
        };
    }
}